@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	padding: 0;
    background-color: #333333;

}

body
{
    color: #fff;
    margin:20px;
}

h1
{
    text-align: center;
    font-size: 80px;
    margin-bottom: 0;
    -webkit-text-stroke: 3px #777;
}

.first_page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
}

.first_page button
{
    width: 100px;
    height: 40px;
    background-color: transparent;
    outline: auto;
    color: #fff;
    border-radius: 30px;
    margin:20px;
    margin-bottom: 30px;
    border:0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.first_page button:hover
{
    background-color: #fff;
    color:#333333;
    outline-color: #fff;
}

.carre_tangram
{
    outline: auto;
    height: 500px;
    width: 500px;
    background-color: #222222;
    box-shadow: 12px 12px 12px black;
    position: relative;
}
.triangle_un{
    width: 0;
    height: 0;
    position: absolute;
    transition: all 2s;
    border-left: 50px solid #d2696a;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    background-color: rgba(0, 0, 0, 0);
}
.triangle_deux{
    width: 0;
    height: 0;
    position: absolute;
    transition: all 2s;
    border-left: 50px solid #7e2b7c;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    background-color: rgba(0, 0, 0, 0);
}
.triangle_trois{
    width: 0;
    height: 0;
    position: absolute;
    transition: all 2s;
    border-left: 70px solid #189184;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    background-color: rgba(0, 0, 0, 0);
}
.triangle_quatre{
    width: 0;
    height: 0;
    position: absolute;
    transition: all 2s;
    border-left: 100px solid #fbc002;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    background-color: rgba(0, 0, 0, 0);
}
.triangle_cinq{
    width: 0;
    height: 0;
    position: absolute;
    transition: all 2s;
    border-left: 100px solid #b20000;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    background-color: rgba(0, 0, 0, 0);
}
.carre {
    background-color: #f48400;
    width: 70px;
    height: 70px;
}


/* cygne */
.cygne .triangle_un {
    -moz-transform: translate(-6px, 155px) rotate(0deg);
    -o-transform: translate(-6px, 155px) rotate(0deg);
    -ms-transform: translate(-6px, 155px) rotate(0deg);
    -webkit-transform: translate(-6px, 155px) rotate(0deg);
    transform: translate(-6px, 155px) rotate(0deg);
  }
  .cygne .triangle_deux {
    -moz-transform: translate(3px, 4px) rotate(45deg);
    -o-transform: translate(3px, 4px) rotate(45deg);
    -ms-transform: translate(3px, 4px) rotate(45deg);
    -webkit-transform: translate(3px, 4px) rotate(45deg);
    transform: translate(3px, 4px) rotate(45deg);
  }
  .cygne .triangle_trois {
    -moz-transform: translate(-3px, 189px) rotate(180deg);
    -o-transform: translate(-3px, 189px) rotate(180deg);
    -ms-transform: translate(-3px, 189px) rotate(180deg);
    -webkit-transform: translate(-3px, 189px) rotate(180deg);
    transform: translate(-3px, 189px) rotate(180deg);
  }
  .cygne .triangle_cinq {
    -moz-transform: translate(57px, 194px) rotate(135deg);
    -o-transform: translate(57px, 194px) rotate(135deg);
    -ms-transform: translate(57px, 194px) rotate(135deg);
    -webkit-transform: translate(57px, 194px) rotate(135deg);
    transform: translate(57px, 194px) rotate(135deg);
  }
  .cygne .ttriangle_quatre {
    -moz-transform: translate(127px, 136px) rotate(90deg);
    -o-transform: translate(127px, 136px) rotate(90deg);
    -ms-transform: translate(127px, 136px) rotate(90deg);
    -webkit-transform: translate(127px, 136px) rotate(90deg);
    transform: translate(127px, 136px) rotate(90deg);
  }
  .cygne .carre {
    -moz-transform: translate(12px, 116px) rotate(45deg);
    -o-transform: translate(12px, 116px) rotate(45deg);
    -ms-transform: translate(12px, 116px) rotate(45deg);
    -webkit-transform: translate(12px, 116px) rotate(45deg);
    transform: translate(12px, 116px) rotate(45deg);
  }
  .cygne .parallelogramme{
    -moz-transform: translate(42px, 38px) rotate(45deg) skew(45deg);
    -o-transform: translate(42px, 38px) rotate(45deg) skew(45deg);
    -ms-transform: translate(42px, 38px) rotate(45deg) skew(45deg);
    -webkit-transform: translate(42px, 38px) rotate(45deg) skew(45deg);
    transform: translate(42px, 38px) rotate(45deg) skew(45deg);
  }



