
/* bougie */
.bougie{
  .triangle_un {
    width: 0;
    height: 0;
    position: absolute;
    transition: all 2s;
    border-left: 50px solid #d2696a;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 300px;
  }
  .parallelogramme{
    width: 55px;
    height: 100px;
    transform: skew(20
    
    deg);
    margin: 200px;
  }
}
